@* Credit: https://tobiasahlin.com/spinkit/ *@

<div class="spin-fading-circle">
    <div class="spin-circle1 spin-circle"></div>
    <div class="spin-circle2 spin-circle"></div>
    <div class="spin-circle3 spin-circle"></div>
    <div class="spin-circle4 spin-circle"></div>
    <div class="spin-circle5 spin-circle"></div>
    <div class="spin-circle6 spin-circle"></div>
    <div class="spin-circle7 spin-circle"></div>
    <div class="spin-circle8 spin-circle"></div>
    <div class="spin-circle9 spin-circle"></div>
    <div class="spin-circle10 spin-circle"></div>
    <div class="spin-circle11 spin-circle"></div>
    <div class="spin-circle12 spin-circle"></div>
</div>
