@inject ISpinnerService SpinnerService
@implements IDisposable

@if (isVisible)
{
    <div class="@(IsRelativePosition ? "spinner-relative-container" : "spinner-container")">
        @if (_spinType == 0)
        {
            <Wave />
        }
        else if (_spinType == 1)
        {
            <ThreeDots />
        }
        else if (_spinType == 2)
        {
            <FadingCircle />
        }
        else
        {
            <Wave />
        }
    </div>
}

@code
{
    [Parameter]
    public bool IsRelativePosition { get; set; }

    private Random _rndGen = new();
    private int _spinType = 0;
    protected bool isVisible { get; set; }

    protected override void OnInitialized()
    {
        SpinnerService.OnShow += ShowSpinner;
        SpinnerService.OnHide += HideSpinner;
        _spinType = _rndGen.Next(3);
    }

    public void ShowSpinner()
    {
        isVisible = true;
        StateHasChanged();
    }

    public void HideSpinner()
    {
        isVisible = false;
        StateHasChanged();
    }

    public void Dispose()
    {
        SpinnerService.OnShow -= ShowSpinner;
        SpinnerService.OnHide -= HideSpinner;
    }
}