@page "/Admin"
@attribute [Authorize(Roles = "Administrator,Moderator")]

<PageTitle>DatingApp - Admin Panel</PageTitle>

<section>
    <MudText Typo="Typo.h2" Align="Align.Center" Class="mb-5">@_pageTitle</MudText>

    @if (_showError)
    {
        <MudAlert Severity="Severity.Error">@_errorText</MudAlert>
    }
    
</section>
