@page "/"

<PageTitle>DatingApp - Home</PageTitle>

<section>
    <MudContainer Class="animate__bounceInUp">
        <MudGrid Justify="Justify.Center">

            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Typo="Typo.h2" Align="Align.Center">Find your match</MudText>
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Align="Align.Center"
                         Style="font-size: 1.25rem; font-weight: 300;">
                    Come on in to view your matches... all you need to do is sign up!
                </MudText>
            </MudItem>

            <MudItem xs="6">
                <MudDivider DividerType="DividerType.Middle" />
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton Class="mx-2"
                           Variant="Variant.Filled"
                           Color="Color.Dark"
                           @onclick="OnRegister"
                           StartIcon="@Icons.Filled.EditNote"
                           Size="Size.Large">
                    Register
                </MudButton>
                <MudButton Class="mx-2"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           @onclick="OnLogin"
                           StartIcon="@Icons.Filled.Login"
                           Size="Size.Large">
                    Login
                </MudButton>
            </MudItem>

        </MudGrid>
    </MudContainer>
</section>
