@page "/login"
@inject IAuthenticationService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<h3 class="text-center">Member Login</h3>

@if (showAuthError)
{
    <div class="alert alert-danger" role="alert">
        @authErrorText
    </div>
}

<div class="container">
    <EditForm Model="@loginUser" OnValidSubmit="HandleValidSubmit" class="card card-body bg-light text-dark mt-5">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>Username</label>
            <InputText @bind-Value="loginUser.Username" class="form-control mr-sm-2" type="text" />
            <ValidationMessage For="(() => loginUser.Username)" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <InputText @bind-Value="loginUser.Password" class="form-control mr-sm-2" type="password" />
            <ValidationMessage For="(() => loginUser.Password)" />
        </div>
        <button class="btn btn-success my-2" type="submit">Login</button>
        <button class="btn btn-primary my-2" type="button" @onclick="() => HandleRegister()">Register</button>

    </EditForm>
</div>

@code {
    private LoginUser loginUser = new();
    private bool showAuthError = false;
    private string authErrorText;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/members");
        }
    }

    private async Task HandleValidSubmit()
    {
        showAuthError = false;
        authErrorText = "";

        var authResult = await AuthService.LoginAsync(loginUser);

        if (authResult.Item1 != null)
        {
            NavManager.NavigateTo("/members");
        }
        else
        {
            authErrorText = $"Login failed: {authResult.Item2}";
            showAuthError = true;
        }
    }

    private void HandleRegister()
    {
        NavManager.NavigateTo("/register");
    }
}
