@page "/members"
@attribute [Authorize]
@inject IMemberService MemberService
@inject IToastService ToastService

<div class="container">

    <h3 class="text-center">Members</h3>

    @if (showError)
    {
        <div class="alert alert-danger text-center" role="alert">
            @errorText
        </div>
    }
    else if (members?.Count > 0)
    {
        <div class="row">
            @foreach (MemberModel m in members)
            {
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    <MemberCard Member="m" />
                </div>
            }
        </div>
    }

</div>

@code {
    private List<MemberModel> members = new();
    private bool showError = false;
    private string errorText;

    protected override async Task OnInitializedAsync()
    {
        await LoadMembers();
    }

    private async Task LoadMembers()
    {
        UserParameters userParam = new();
        ServiceResponseModel<IEnumerable<MemberModel>> result = await MemberService.GetMembersAsync(userParam);

        if (result.Success)
        {
            members = result.Data.ToList();
        }
        else
        {
            showError = true;
            errorText = $"Request failed: {result.Message}";
            ToastService.ShowError($"Request failed: {result.Message}");
        }
    }
}
