div .row {
    min-width: 375px;
}

.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card {
    border-radius: 6px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}

    .card img {
        border-radius: 6px;
        box-shadow: 0 0 0 0 rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
    }

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding 10px 15px;
    background-color: #fff;
    border-top: none;
}

.form-inline label {
    justify-content: flex-start;
}

@media (max-width: 768px) {
    ::deep .userinput {
        width: 100%;
        margin-bottom: 2px;
    }
}

@media (min-width: 769px) {
    ::deep .userinput {
        width: 100%;
        margin-right: 5px;
    }
}
