::deep .img-thumbnail {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 1em;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 50%);
    padding: 0.25rem;
}
