::deep #ageInput {
    width: 70px;
}

::deep #genderInput {
    width: 105px;
}

::deep #filterGroup, #sortGroup {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

::deep #sortGroup {
    float: right;
}

@media (max-width: 550px) {
    ::deep #buttonOuterGroup {
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        justify-content: center;
    }

    ::deep #sortGroup {
        float: none;
    }
}

@media (min-width: 551px) {
    ::deep #buttonOuterGroup {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

@media (max-width: 850px) {
    ::deep #filterForm {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        min-width: 350px;
    }
}

@media (min-width: 851px) {
    ::deep #filterForm {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }
}