::deep #ageInput {
    max-width: 70px;
}

@media (max-width: 768px) {
    ::deep #filterForm {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        min-width: 350px;
    }
}

@media (min-width: 769px) {
    ::deep #filterForm {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }
}