@page "/theme"

<div class="docs-page-section">
    <h4 class="mud-typography mud-typography-h4 mud-inherit-text py-4">Theme Colors</h4>
    <div class="mud-grid mud-grid-spacing-xs-3 mud-grid-justify-xs-flex-start">
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-4">
            <div class="mud-paper mud-elevation-1 mud-theme-primary" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Primary</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-primary-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-primary-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-4">
            <div class="mud-paper mud-elevation-1 mud-theme-secondary" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Secondary</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-secondary-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-secondary-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-4">
            <div class="mud-paper mud-elevation-1 mud-theme-tertiary" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Tertiary</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-tertiary-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-tertiary-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
            <div class="mud-paper mud-elevation-1 mud-theme-info" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Info</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-info-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-info-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
            <div class="mud-paper mud-elevation-1 mud-theme-success" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Success</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-success-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-success-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
            <div class="mud-paper mud-elevation-1 mud-theme-warning" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Warning</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-warning-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-warning-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-6 mud-grid-item-md-3">
            <div class="mud-paper mud-elevation-1 mud-theme-error" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-16">Error</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-error-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-error-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-4">Darken</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-12">
            <div class="mud-paper mud-elevation-1 mud-theme-dark" style="">
                <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6">Dark</p>
                <div class="d-flex">
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-bl" style="background-color: var(--mud-palette-dark-lighten); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-3">Lighten</p>
                    </div>
                    <div class="mud-paper mud-elevation-0 flex-grow-1 rounded-0 rounded-br" style="background-color: var(--mud-palette-dark-darken); color: #fff;;">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-3">Darken</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="mud-typography mud-typography-h4 mud-inherit-text py-4">Texts</h4>
    <div class="docs-section-content docs-content-full-width docs-section-content-darken docs-section-auto-margin-content">
        <div class="docs-section-content-inner">
            <div class="mud-grid mud-grid-spacing-xs-3 mud-grid-justify-xs-flex-start">
                <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-4">
                    <div class="mud-paper mud-elevation-1 pa-2" style="">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6 mud-text-primary" style="font-size: 1.5rem;">Text Primary</p>
                    </div>
                </div>
                <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-4">
                    <div class="mud-paper mud-elevation-1 pa-2" style="">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6 mud-text-secondary" style="font-size: 1.5rem;">Text Secondary</p>
                    </div>
                </div>
                <div class="mud-grid-item mud-grid-item-xs-12 mud-grid-item-sm-12 mud-grid-item-md-4">
                    <div class="mud-paper mud-elevation-1 pa-2" style="">
                        <p class="mud-typography mud-typography-body1 mud-inherit-text mud-typography-align-center py-6 mud-text-disabled" style="font-size: 1.5rem;">Text Disabled</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}