/*Credit: https://tobiasahlin.com/spinkit/ */

.spin-wave {
    margin: 30vh auto 0 auto;
    width: 200px;
    height: 160px;
    text-align: center;
    font-size: 10px;
}

.spin-wave .spin-rect {
    background-color: var(--primary);
    height: 100%;
    width: 20px;
    display: inline-block;
    -webkit-animation: spin-waveStretchDelay 1.2s infinite ease-in-out;
    animation: spin-waveStretchDelay 1.2s infinite ease-in-out;
}

.spin-wave .spin-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.spin-wave .spin-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spin-wave .spin-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.spin-wave .spin-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spin-wave .spin-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes spin-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes spin-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
