::deep img {
    width: 100%;
}

::deep .mud-card {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

::deep .mud-card-header {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

::deep .mud-card-header img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

    ::deep .mud-card-header img:hover {
        transform: scale(1.2, 1.2);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
        opacity: 0.7;
    }

        ::deep .mud-card-header:hover .mud-paper {
            bottom: 0;
            opacity: 1;
        }

::deep .member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

::deep .mud-paper {
    background-color: transparent;
}

::deep .animate {
    transition: all 0.3s ease-in-out;
}
