<CascadingValue Value="this">
    <div class="btn-group" role="group">
        @foreach (TabPage tabPage in pages)
        {
            <button type="button" class="btn @GetButtonClass(tabPage)" @onclick=@(() => ActivatePage(tabPage))>
                @tabPage.Text
            </button>
        }
    </div>
    <hr class="hline"/>
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TabPage ActivePage { get; set; }

    List<TabPage> pages = new List<TabPage>();

    public void AddPage(TabPage tabPage)
    {
        pages.Add(tabPage);

        if (pages.Count == 1)
        {
            ActivePage = tabPage;
        }

        StateHasChanged();
    }

    private string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "btn-outline-primary active" : "btn-outline-secondary";
    }

    private void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }
}
