.btn {
    border: none;
    background-color: transparent;
    color: var(--primary);
    font-weight: 500;
}

.btn:hover {
    border-bottom: 4px solid #fbcdcf;
    color: black;
}

.btn.btn-outline-primary.active,
.btn.btn-outline-primary:active {
    border-bottom: 4px solid var(--primary);
    border-radius: 0px;
    color: black;
    background-color: transparent;
}

.btn.btn-outline-primary.focus,
.btn.btn-outline-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.hline{
    margin-top: -2px;
    margin-bottom: 2rem;
}