@page "/"
@inject NavigationManager NavManager

<AuthorizeView Context="AuthContext">
    <Authorized>
        <p>Coming soon...</p>
    </Authorized>
    <NotAuthorized>
        @if (registerMode)
        {
            <RegistrationComponent OnCancel="HandleOnCancel" />
        }
        else
        {
            <div class="container">
                <div class="text-center">
                    <h1>Find your match</h1>
                    <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg mr-2" @onclick="() => registerMode = !registerMode">Register</button>
                        <button class="btn btn-info btn-lg mr-2">Learn more</button>
                    </div>
                </div>
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool registerMode = false;

    private void HandleOnCancel(bool result)
    {
        registerMode = false;
    }
}
