@page "/lists"

<div class="container">
    
    <h3 class="text-center">Lists</h3>

    <AuthorizeView Context="AuthContext">
        <Authorized>
            
        </Authorized>
        <NotAuthorized>
            
        </NotAuthorized>
    </AuthorizeView>

</div>


@code {

}
