@page "/messages"

<div class="container">

    <h3 class="text-center">Messages</h3>

    <AuthorizeView Context="AuthContext">
        <Authorized>

        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>

</div>

@code {

}
