@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                WarningIcon="fa fa-exclamation-triangle"
                InfoIcon="fa fa-clipboard"/>

<div class="container-fluid">
    <NavMenu />

    <div class="main">
        @Body
    </div>

</div>