@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                WarningIcon="fa fa-exclamation-triangle"
                InfoIcon="fa fa-clipboard"/>

<Spinner />
<main class="container-fluid">
    <NavMenu />
    
    <AuthorizeView>
        <Authorized>
            <div class="shortnav">
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="tallnav">
                @Body
            </div>
        </NotAuthorized>
    </AuthorizeView>
</main>