main {
    min-width: 350px;
}

.shortnav {
    margin-top: 100px;
}

.tallnav {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .tallnav {
        margin-top: 220px;
    }
}

@media (max-width: 420px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}

