<div class="card mb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="@member.PhotoUrl" alt="@member.KnownAs"/>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2" />
            @member.KnownAs
        </h6>
        <p class="card-text text-muted text-center">
            @member.City
        </p>
    </div>
</div>

@code {
    [Parameter]
    public MemberModel member { get; set; }
}
