@inject NavigationManager NavManager
@inject IImageService ImageService

<div class="card mb-4">
    <div class="card-img-wrapper mb-2">
        <img class="card-img-top" src="@photoUrl" alt="Photo of @Member.KnownAs" />
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary" @onclick="HandleUserClick"><i class="fa fa-user" /></button>
                <button class="btn btn-primary"><i class="fa fa-heart" /></button>
                <button class="btn btn-primary"><i class="fa fa-envelope" /></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h5 class="card-title text-center mb-1">
            <i class="fa fa-user mr-2" />
            @Member.KnownAs
        </h5>
        <hr />
        <h6 class="card-text text-muted text-center">
            @Member.City
        </h6>
    </div>
</div>

@code {
    [Parameter]
    public MemberModel Member { get; set; }

    private string photoUrl = "./assets/user.png";

    protected override async Task OnParametersSetAsync()
    {
        photoUrl = await ImageService.RequestImageAsync(Member.PhotoUrl);
        Member.PhotoUrl = photoUrl;
    }

    private void HandleUserClick()
    {
        NavManager.NavigateTo($"/member/{Member.Username}");
    }
}
