::deep .nav-link {
    padding: 0.15rem 1rem;
}

#navbarAuth {
    display: flex;
    flex-wrap: nowrap;
    min-width: 360px;
}

::deep #navbarDropdown {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

img {
    max-height: 50px;
    border: 1px solid white;
    display: inline;
}

::deep ul .nav-link:hover {
    border-bottom: 3px solid white;
}

::deep ul .nav-link.active,
::deep ul .nav-link:active {
    border-bottom: 2px solid #9A98B5;
}

@media (max-width: 768px) {
    #navbarUnAuth {
        display: block;
        min-width: 350px;
    }

    #loginform {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    ::deep .userinput {
        margin-bottom: 2px;
    }

    #buttongroup {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 5px;
    }
}

@media (min-width: 769px) {
    #navbarUnAuth {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #loginform {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        width: 100%;
        margin-left: auto;
    }

    ::deep .userinput {
        margin-right: 5px;
    }
}

@media (max-width: 420px) {
    .welcome-text {
        display: none;
    }
}
