@inject IImageService ImageService
@inject ISpinnerService SpinnerService

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Photos.Count; i++)
        {
            <div class="carousel-item @(i == position ? "active":"")">
                <img class="img-fluid rounded mx-auto d-block centerstage" src="@Photos[i].Url">
            </div>
        }
    </div>
    <a class="carousel-control-prev" role="button" data-slide="prev" @onclick="HandlePrev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" role="button" data-slide="next" @onclick="HandleNext">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="row">
    @for (int i = 0; i < Photos.Count; i++)
    {
        int buttonIndex = i;
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <img class="img-thumbnail rounded" src="@Photos[i].Url" @onclick="() => HandleThumbnailClick(buttonIndex)">
        </div>
    }
</div>

@code {
    [Parameter]
    public IList<PhotoModel> Photos { get; set; }

    private int position = 0;

    protected override async Task OnParametersSetAsync()
    {
        SpinnerService.HoldSpinner = true;

        foreach (PhotoModel p in Photos)
        {
            p.Url = await ImageService.RequestImageAsync(p.Url);
        }

        SpinnerService.HoldSpinner = false;
    }

    private void HandleNext()
    {
        if (position < Photos.Count - 1)
        {
            position += 1;
        }
    }

    private void HandlePrev()
    {
        if (position > 0)
        {
            position -= 1;
        }
    }

    private void HandleThumbnailClick(int index)
    {
        position = index;
    }
}
