@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<EditForm Model="@loginUser" class="form-inline">
    <div id="loginform" class="form-row">
        <InputText @bind-Value="loginUser.Username" class="form-control userinput" type="text" placeholder="Username" />
        <InputText @bind-Value="loginUser.Password" class="form-control userinput" type="password" placeholder="Password" />
        <div id="buttongroup" class="form-group">
            <button class="btn btn-primary" type="submit" @onclick="() => HandleLogin()">Login</button>
            <button class="btn btn-success mx-2" type="submit" @onclick="() => HandleRegister()">Register</button>
        </div>
    </div>
</EditForm>

@code {
    private LoginUserModel loginUser = new();

    private async Task HandleLogin()
    {
        await AuthService.LoginAsync(loginUser);
        loginUser = new();
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
    }

    private void HandleRegister()
    {
        NavManager.NavigateTo("/register");
    }
}
