@inject IAuthenticationService AuthService

<AuthorizeView Context="AuthContext">
    <Authorized>
        <nav id="navbarAuth" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <button class="navbar-toggler" type="button" @onclick="() => expandNavLinks = !expandNavLinks">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (expandNavLinks)
            {
                <a class="navbar-brand mx-auto" href="#">Dating App</a>
                <div class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandNavLinks = !expandNavLinks">
                    <NavLink class="nav-link text-dark mx-2" href="#" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Matches
                    </NavLink>
                    <NavLink class="nav-link text-dark mx-2" href="#" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> Lists
                    </NavLink>
                    <NavLink class="nav-link text-dark mx-2" href="#" Match="NavLinkMatch.All">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Messages
                    </NavLink>
                </div>
            }
            else
            {
                <a class="navbar-brand mr-4" href="#">Dating App</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <NavLink class="nav-link text-light mx-2" href="#" Match="NavLinkMatch.All">
                            <span class="oi oi-people" aria-hidden="true"></span> Matches
                        </NavLink>
                        <NavLink class="nav-link text-light mx-2" href="#" Match="NavLinkMatch.All">
                            <span class="oi oi-list" aria-hidden="true"></span> Lists
                        </NavLink>
                        <NavLink class="nav-link text-light mx-2" href="#" Match="NavLinkMatch.All">
                            <span class="oi oi-envelope-closed" aria-hidden="true"></span> Messages
                        </NavLink>
                    </ul>
                </div>
            }

            <div class="nav-item dropdown show">
                <NavLink class="nav-link text-light" @onclick="() => expandWelcomeMenu = !expandWelcomeMenu" id="navbarDropdown">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Welcome @AuthContext.User.Identity.Name
                </NavLink>

                @if (expandWelcomeMenu)
                {
                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandWelcomeMenu = !expandWelcomeMenu">
                        <NavLink class="nav-link text-dark" href="">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit Profile
                        </NavLink>
                        <div class="dropdown-divider"></div>
                        <NavLink class="nav-link text-dark" href="" @onclick="() => HandleLogout()">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                }
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <nav id="navbarUnAuth" class="navbar navbar-expand navbar-dark fixed-top bg-dark">
            <a class="navbar-brand mr-4" href="#">Dating App</a>
            <LoginForm />
        </nav>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool expandWelcomeMenu = false;
    private bool expandNavLinks = false;

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
    }
}
