@inject IAuthenticationService AuthService

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dating App</a>
        @if (isAuthenticated)
        {
            <ul class="navbar-nav mr-auto">
                <NavLink class="nav-link text-light" href="#" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span> Matches
                </NavLink>
                <NavLink class="nav-link text-light" href="#" Match="NavLinkMatch.All">
                    <span class="oi oi-list" aria-hidden="true"></span> Lists
                </NavLink>
                <NavLink class="nav-link text-light" href="#" Match="NavLinkMatch.All">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span> Messages
                </NavLink>
                <NavLink class="nav-link text-light" href="#" Match="NavLinkMatch.All" @onclick="() => HandleLogout()">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </ul>

            <div class="nav-item dropdown show">
                <NavLink class="nav-link text-light" @onclick="() => expandSubNavSettings = !expandSubNavSettings" id="navbarDropdown">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Welcome user
                </NavLink>

                @if (expandSubNavSettings)
                {
                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                        <NavLink class="nav-link text-dark" href="">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit Profile
                        </NavLink>
                        <div class="dropdown-divider"></div>
                        <NavLink class="nav-link text-dark" href="" @onclick="() => HandleLogout()">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>

                }
            </div>
        }
        else
        {
            <EditForm Model="@loginUser" OnValidSubmit="HandleLogin" class="form-inline mt-2 mt-md-0">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputText @bind-Value="loginUser.Username" class="form-control mr-sm-2" type="text" placeholder="Username" />
                <InputText @bind-Value="loginUser.Password" class="form-control mr-sm-2" type="password" placeholder="Password" />
                <button class="btn btn-info my-2 my-sm-0" type="submit"><span class="oi oi-account-login" aria-hidden="true"></span> Login</button>
            </EditForm>
        }
    </div>
</nav>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private AuthenticationUserModel loginUser = new();
    private bool expandSubNavSettings = false;
    private bool isAuthenticated = false;
    private string userName;
    private bool isAdmin = false;
    private bool isModerator = false;
    private bool isMember = false;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
            isAuthenticated = true;
            isAdmin = authState.User.IsInRole("Admin");
            isModerator = authState.User.IsInRole("Moderator");
            isMember = authState.User.IsInRole("Member");
        }
    }

    private async Task HandleLogin()
    {
        await AuthService.Login(loginUser);
        loginUser = new();
    }

    private async Task HandleLogout()
    {
        await AuthService.Logout();
    }
}
