@inject IRegistrationService RegService
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<EditForm Model="@_registerUser" OnValidSubmit="HandleValidSubmit">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr />
    <div class="form-group">
        <InputText @bind-Value="_registerUser.Username" class="form-control" type="text" placeholder="Username" />
    </div>
    <div class="form-group">
        <InputText @bind-Value="_registerUser.Password" class="form-control" type="password" placeholder="Password" />
    </div>
    <div class="form-group">
        <InputText @bind-Value="_registerUser.ConfirmPassword" class="form-control" type="password" placeholder="Confirm password" />
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mx-2" type="submit">Register</button>
        <button class="btn btn-outline-danger mx-2" type="button" @onclick="() => HandleCancel()">Cancel</button>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@if (_showRegError)
{
    <div class="alert alert-danger" role="alert">
        <p>@_regErrorText</p>
    </div>
}

@code {
    private RegisterUserModel _registerUser = new();
    private bool _showRegError = false;
    private string _regErrorText = "";

    private async Task HandleValidSubmit()
    {
        _showRegError = false;
        _regErrorText = "";

        Tuple<bool, string> regResult = await RegService.RegisterAsync(_registerUser);

        if (regResult.Item1)
        {
            LoginUserModel loginUser = new();
            loginUser.Username = _registerUser.Username;
            loginUser.Password = _registerUser.Password;
            await AuthService.LoginAsync(loginUser);
        }
        else
        {
            _showRegError = true;
            _regErrorText = regResult.Item2;
        }

        _registerUser = new();
    }

    private void HandleCancel()
    {
        NavManager.NavigateTo("/");
    }
}
