@inject ISpinnerService SpinnerService

@if (isVisible)
{
    <div class="spinner-container">
        @if (spinType == 0)
        {
            <Spinner_Wave />
        }
        else if (spinType == 1)
        {
            <Spinner_ChasingDots />
        }
        else if (spinType == 2)
        {
            <Spinner_ThreeDots />
        }
        else if (spinType == 3)
        {
            <Spinner_FadingCircle />
        }
        else
        {
            <Spinner_Wave />
        }
    </div>
}

@code
{
    protected bool isVisible { get; set; }
    protected int spinType = 0;

    protected override void OnInitialized()
    {
        SpinnerService.OnShow += ShowSpinner;
        SpinnerService.OnHide += HideSpinner;
        Random rnd = new();
        spinType = rnd.Next(4);
    }

    public void ShowSpinner()
    {
        isVisible = true;
        StateHasChanged();
    }

    public void HideSpinner()
    {
        isVisible = false;
        StateHasChanged();
    }
}
